<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.unidue.wiwi.tdr.kn3.rasp_home"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="MainApplication">
        <activity
            android:name="MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name="PositioningService" android:label="@string/service_positioning_label"></service>
        <service android:name="CommunicationService" android:label="@string/service_communication_label"></service>
        <activity 
            android:name="SettingsActivity" android:label="@string/activity_settings_label" android:parentActivityName="MainActivity">
        </activity>
        <activity
                android:name="RoomControl"
                android:label="@string/title_activity_ControlRoom" >
        </activity>
    </application>

</manifest>